/* Place CSS styles here */
h1 {
  font-family: 'DM Sans', sans-serif;
    color:rgb(144, 144, 248)
  }
body {
  font-family: 'DM Sans', sans-serif;
  background-color: rgb(204, 213, 255);
}
.puppies {
    color: rgb(57, 57, 153);
}

.page-section p{
    color: rgb(61, 18, 101);
    font-size: 16px;
}

 .page-section {
  display: flex;
  justify-content: center;
 }