/* Place CSS styles here */
h1 {
    color:rgb(144, 144, 248)
  }
body {
  background-color: rgb(204, 213, 255);
}
.puppies {
    color: rgb(57, 57, 153);
}

.page-section p{
    color: rgb(61, 18, 101);
    font-size: 16px;
}

 