/* Place CSS styles here */
h1 {
  font-family: 'DM Sans', sans-serif;
    color:rgb(144, 144, 248)
  }
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  background-color: rgb(204, 213, 255);
}
.puppies {
    color: rgb(57, 57, 153);
}
.page-section p{
    color: rgb(61, 18, 101);
    font-size: 16px;
}
form.form-example {
  display: table;
}
div.form-example {
  display: table-row;
}
label,
input {
  display: table-cell;
  font-family: monospace;
  margin-bottom: 10px;
  color: blue;
}
label {
  padding-right: 10px;
}
 .page-section {
  display: flex;
  justify-content: center;
 }
 label {
  display: block;
  font-family: monospace;
}
input,
label {
  margin: 0.4rem 0;
}
